html,body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 600px;
}
.section1{
    display: flex;
}
.section2{
    display: flex;
    margin: 0%;
    padding: 0%;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
}
.effect:hover{
    background-color: black;
}
